body{
    background: #fff;
}
#nav {
    overflow: hidden;
    background: #393D49;
}
.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}
.content-box {
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 150px;
}
 .layui-input-block {
     margin-left: 0px;
 }
 .title {
     height: 46px;
     padding: 10px 16px;
     font-size: 18px;
     line-height: 1.33;
     border-radius: 6px;
 }
 .tags {
     height: 36px;
     padding: 6px 16px;
     font-size: 15px;
     line-height: 1.33;
     border-radius: 6px;
 }