body{
    background: #fff;
}
#nav {
    overflow: hidden;
    background: #393D49;
}
.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}
.content-box {
    width: 1180px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 25px;
    margin-bottom: 150px;
    min-width: 1120px;
    max-width: 1200px;
}
 .layui-input-block {
     margin-left: 0px;
 }
 .title {
     height: 46px;
     padding: 10px 16px;
     font-size: 18px;
     line-height: 1.33;
     border-radius: 6px;
 }
.title .tags {
     height: 36px;
     padding: 6px 16px;
     font-size: 15px;
     line-height: 1.33;
     border-radius: 6px;
 }
 .ask-type {
     margin-bottom: 0;
 }
 .ask-dec {
     margin-top: 15px;
 }
 .ask-type-down {
     margin-left: 15px;
     border: 1px solid transparent;
     border-radius: 8px;
     position: absolute;
     display: none;
     width: 326px;
     height: auto;
     padding: 15px;
     z-index: 20;
     margin-bottom: 0;
     background: #F0F0F0;
     box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.18);
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
 }
 .ask-type-down .ask-type-p {
     margin: 5px auto;
     height: auto;
     border-bottom: 1px solid #e2e2e2;
     padding-bottom: 28px;
 }
 .ask-type-down .ask-type-c {
     width: 93%;
     margin: 22px auto;
 }
 .ask-type-name {
     width: auto;
     margin-right: 8px;
     color: #d2d2d2;
     margin-bottom: .5em;
     line-height: 1.5;
     float: left;
     text-align: right;
 }
 .tags-info {
     padding: 0 .3em;
     line-height: 1.9;
     display: inline-block;
     vertical-align: middle;
     cursor: pointer;
     font-size: 14px;
     color: #666;
     border-radius: 3px;
     font-weight: 500;
 }
.child {
     background-color: #888;
     padding: 0 .8em;
     line-height: 1.9;
     display: inline-block;
     vertical-align: middle;
     cursor: pointer;
     font-size: 12px;
     border-radius: 3px;
     color: #fff;
 }