.content {
    width: 100%;
    height: auto;
    background-color: #e2e2e2;
    background-clip: padding-box;
    min-height: 28px;
    overflow: hidden;
}
 .content-box {
     width: 1200px;
     height: auto;
     overflow: hidden;
     margin: 0 auto;
     background: #e2e2e2;
 }
  .left-box {
      width: 850px;
      height: auto;
      margin-top: 38px;
      margin-bottom: 68px;
      background: #fff;
      float: left;
      border-radius: 3px;
  }
   .right-box {
       width: 320px;
       height: 520px;
       margin-top: 38px;
       margin-bottom: 68px;
       background: #fff;
       float: right;
       border-radius: 3px;
   }
   .left-top {
       width: 90%;
       height: auto;
       overflow: hidden;
       margin: 0 auto;
       padding-bottom: 10px;
   }
   .right-top {
       width: 80%;
       height: auto;
       overflow: hidden;
       margin: 0 auto;
       padding-bottom: 10px;
       border-bottom: 1px solid #e7e7eb;
   }
   .left-middle {
       width: 90%;
       height: auto;
       overflow: hidden;
       margin: 0 auto;
   }
    .top-font {
        font-size: 22px;
        font-weight: normal;
    }
    .top-right-font {
        font-size: 18px;
        color: #353535;
    }
    .left-top-left {
        float: left;
        margin-top: 30px;
    }
    .right-top-left {
        float: left;
        margin-top: 30px;
    }
    .left-top-right {
        float: right;
        margin-top: 30px;
    }
    .left-content {
        width: 90%;
        height: 56px;
        overflow: hidden;
        margin: 0 auto;
        border-bottom: 1px solid #e7e7eb;
        padding: 1em 0;
    }
     .post-title {
         font-weight: 400;
         display: block;
         font-size: 16px;
         width: auto;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         word-wrap: normal;
     }
     .post-info {
         padding: 1.2em 0 .10em;
         color: #9a9a9a;
         font-size: 14px;
     }
      .post-user {
          display: inline-block;
          vertical-align: top;
          margin-bottom: .6em;
          font-weight: 400;
          font-style: normal;
      }
      .post-time {
          display: inline-block;
          vertical-align: top;
          padding-left: 1.5em;
          font-weight: 400;
          font-style: normal;
      }
      .post-tags {
          border-left: 1px solid #e7e7eb;
          margin-left: 25px;
          padding-left: 25px;
      }
      .tags-info {
          background-color: #f6f8f9;
          padding: 0 .8em;
          line-height: 1.9;
          display: inline-block;
          vertical-align: middle;
          margin-right: .6em;
          margin-bottom: .6em;
          cursor: pointer;
          color: #9a9a9a;
          font-size: 12px;
      }
      .post-num {
          float: right;
          display: inline-block;
          vertical-align: top;
          padding-left: 1.5em;
          font-weight: 400;
          font-style: normal;
          font-size: 20px;
      }

    .left-bottom {
        height: 65px;
        width: 90%;
        padding-top: 20px;
    }
    .right-content {
        width: 80%;
        height: auto;
        overflow: hidden;
        margin: 10px auto;
        padding: 1em 0;
    }
    .post-notic {
        display: block;
        font-size: 14px;
        width: auto;
        margin-bottom: .8em;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }