body{
 background-color:#393D49;
}
.content{
 width:100%;
 height:auto;
 z-index: 1;
 overflow: hidden;
 position: relative;
 background: #fff;
}
#center{
 width:100%;
 height:auto;
 z-index: 1;
 overflow: hidden;
 position: relative;
}
#work{
 width:100%;
 height:680px;
 z-index: 1;
 position: relation;
}
.nav-show{
 width:90%;
 margin:0 auto;
}
.nav-show-left{
 width:35%;
 float:left;
}
.nav-show-middle{
 width:55%;
 float:right;
 background: rgba(255, 255, 255, 0);
}
.layui-nav {
    float:right;
    background: rgba(255, 255, 255, 0);
}
.avatar {
    color: #A9B7B7;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}
.avatar img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}
.avatar cite {
    margin-left: 10px;
}
.nav-show-right{
 width:10%;
 float:right;
}
.class-content{
 width:580px;
 height:580px;
 margin:0 auto;
 padding-top:100px;
}
.class-content-logo{
 width:220px;
 height:220px;
 background-color:#fff;
 margin:0 auto;
 border-radius:25px;
 border: 1px solid #fff;
}
.class-content-item{
 margin:35px auto;
}
.work-show{
 width:90%;
 margin:0 auto;
 overflow:hidden;
}
.work-show-item{
 width:18.5%;
 height:230px;
 background-color:#fff;
 margin:30px 6px 0 6px;
 border-radius: 10px;
 float:left;
}
.center-show{
 width:90%;
 margin:0 auto;
 overflow:hidden;
 margin-top:60px;
}
.center-show-item{
 width:32%;
 height:auto;
 text-align:center;
 float:left;
}
.work-show-space{
 padding-top:30px;
 width:80%;
 color:#e2e2e2;
}
.center-show-font{
}
.center-show-font p{
 width:80%;
 margin:0 auto;
 color:#c2c2c2;
 font-size:18px;
}
.footerbtn {
 position: fixed;
 bottom: 0;
 left: 0;
 height: 38px;
 width: 100%;
 padding-top: 25px;
 padding-bottom: 25px;
 text-align: center;
 background: #eee;
 z-index: 1;
}
.center-talk-right {
    float: right;
    position: relative;
}
 .center-talk-right img {
     height: 228px;
     width: 680px;
 }
 .center-talk-left {
     float: left;
     position: relative;
 }
  .center-talk-left img {
      height: 228px;
      width: 680px;
  }
.center-box {
    width: 95%;
    height:auto;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 120px;
}
 .right-repeat-img {
     float: right;
     margin-top: 128px;
     margin-left: 68px;
 }
  .right-repeat-img img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }
  .right-repeat-title {
      position:absolute;
      width:80%;
      height:42px;
      margin-top: 20px;
      margin-left: 60px;
  }
   .right-repeat-title a {
       color: #e2e2e2;
       font-size: 20px;
       font-weight: 400;
   }
 .left-repeat-img {
     float: left;
     margin-top: 128px;
     margin-right: 68px;
 }
  .left-repeat-img img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }
 .left-repeat-title {
     position:absolute;
     width:70%;
     height:32px;
     margin-top: 38px;
     margin-left: 100px;
 }
  .left-repeat-title a {
      color: #333;
      font-size: 20px;
      font-weight: 400;
  }
 .right-repeat-dec {
     position:absolute;
     width:80%;
     height:108px;
     line-height: 1.7;
     margin-top: 75px;
     margin-left: 60px;
     text-rendering: optimizeLegibility;
     color: #c2c2c2;
 }
 .left-repeat-dec {
     position:absolute;
     width:70%;
     height:88px;
     margin-top: 75px;
     line-height: 1.7;
     margin-left: 100px;
     text-rendering: optimizeLegibility;
     color: #666;
 }
