.content {
    width: 100%;
    height: auto;
    background-color: #f8f9fb;
    background-clip: padding-box;
    min-height: 28px;
    overflow: hidden;
}
.content-box {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background: #f8f9fb;
}
 .library-box {
     width: 100%;
     height: auto;
     margin: 0 auto;
     overflow: hidden;
     background: #f8f9fb;
     margin-bottom: 65px;
 }
  .library-content {
      width: 25%;
      height: 225px;
      float: left;
      display: inline-block;
      vertical-align: middle;
      padding: 15px 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
   .library-content .library-content-child{
       width:100%;
       height:100%;
       padding-top: 10px;
       background:#eeeeee;
       border-radius: 8px;
   }
    .library-dec {
        width: 80%;
        height: 135px;
        margin: 5px auto;
    }
     .library-dec .library-dec-box {
              width: 90%;
              height: 58px;
              margin: 5px auto;
          }
      .library-dec .library-dec-box p {
               color: #666;
               line-height: 28px;
            }
     .library-dec .library-img {
             width: 80%;
             margin: 0 auto;
             height: 68px;
         }
      .library-dec .library-img img {
               width: 100%;
               height: 100%;
           }
    .library-down {
        text-align: center;
    }
