<div id="footer">
 <div class="footer-content">
  <div class="footer-content-item">
   <ul>
    <li>关于LinkPHP</li>
    <li>关于LinkPHP</li>
    <li>关于LinkPHP</li>
    <li>关于LinkPHP</li>
   </ul>
  </div>
  <div class="footer-content-item">
   <ul>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
   </ul>
  </div>
  <div class="footer-content-item">
   <ul>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
   </ul>
  </div>
  <div class="footer-content-item">
   <ul>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
     <li>关于LinkPHP</li>
   </ul>
  </div>
 </div>
 <div class="footer-content-pro">
   LinkPHP类库作用说明:
 </div> 
</div>
