<div id="footer">
 <div class="footer-content">
  <div class="footer-content-item">
   <ul>
    <li>技术问答</li>
    <li>wiki手册</li>
    <li>作者博客</li>
    <li>类库中心</li>
   </ul>
  </div>
  <div class="footer-content-item">
   <ul>
     <li>GitHub</li>
     <li>码云</li>
     <li>composer下载</li>
     <li>本站下载</li>
   </ul>
  </div>
  <div class="footer-content-item">
   <ul>
     <li>框架教程</li>
     <li>类库教程</li>
     <li>Api接口</li>
     <li>快速入门</li>
   </ul>
  </div>
  <div class="footer-content-item">
   <ul>
     <li>Linux教程</li>
     <li>网站搭建</li>
     <li>PHP</li>
     <li>Go</li>
   </ul>
  </div>
 </div>
 <div class="footer-content-pro">
   LinkPHP类库作用说明:
 </div> 
</div>
