<div id="nav">
    <div class="nav-show">
        <div class="nav-show-left">
            <img src="/resource/static/main/img/linkphp.png" />
        </div>
        <div class="nav-show-right">
            <ul class="layui-nav" layui-filter="linkphpnav">
                <li class="layui-nav-item"><a href="/">首页</a></li>
                <li class="layui-nav-item"><a href="/index.php/main/forum/main">技术问答</a></li>
                <li class="layui-nav-item"><a href="https://github.com/osnote/LinkPHP" target="_blank">GitHub</a></li>
                <li class="layui-nav-item"><a href="http://class.linkphp.cn" target="_blank">类库加载</a></li>
                <li class="layui-nav-item"><a href="http://wiki.linkphp.cn" target="_blank">WIKI手册</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">帮助指南</a>
                    <dl class="layui-nav-child">
                        <dd><a href="http://api.linkphp.cn" target="_blank">API中心</a></dd>
                        <dd><a href="http://class.linkphp.cn" target="_blank">类库加载</a></dd>
                        <dd><a href="http://dev.linkphp.cn" target="_blank">开发者平台</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr style="margin:0;">