<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="LinkPHP" content="liugene" />
    <script src="/resource/static/main/js/jquery.min.js"></script>
    <link href="/resource/static/editor.md/css/editormd.min.css" type="text/css" rel="stylesheet" />
    <link href="/resource/static/layui/css/layui.css" type="text/css" rel="stylesheet" />
    <link href="/resource/static/main/css/index.css" type="text/css" rel="stylesheet" />
    <link href="/resource/static/main/css/ask.css" type="text/css" rel="stylesheet" />
    <link href="/resource/static/main/css/footer.css" type="text/css" rel="stylesheet" />
    <script src="/resource/static/layer/layer.js"></script>
    <script src="/resource/static/layui/layui.js"></script>
    <script src="/resource/static/main/util/util.js"></script>
    <script src="/resource/static/main/logic/ask.js"></script>
    <script src="/resource/static/main/js/ask.js"></script>
    <script src="/resource/static/editor.md/editormd.min.js"></script>

    <title><{$title}>-LinkPHP开源框架</title>
</head>

<body>
<div id="body">
    <!-- 头部  -->
    <{include file="public/header.html"}>
    <!-- 社区中间  -->

    <div class="content">
        <div class="content-box">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input id="title" type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input title">
                    </div>
                </div>
                <div class="layui-form-item ask-type">
                    <div class="layui-input-block">
                        <input id="type" type="text" name="type" placeholder="标签,如:linkphp" autocomplete="off" class="layui-input tags">
                    </div>
                </div>
                <div class="ask-type-down">
                    <div class="ask-type-p"></div>
                    <div class="ask-type-c"></div>
                </div>
                <div class="layui-form-item layui-form-text ask-dec">
                    <div id="markdown">
                        <textarea id="desc" name="desc" style="display: none;"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <{include file="public/tool.html"}>
</div>


</body>
<script>
    var markdown;
    $(function() {
        markdown = editormd("markdown", {
            width   : "99.5%",
            height  : 380,
            syncScrolling : "single",
            path    : "/resource/static/editor.md/lib/"
        });
    });
</script>
</html>
