<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="LinkPHP" content="liugene" />
    <link href="/resource/static/layui/css/layui.css" type="text/css" rel="stylesheet" />
    <link href="/resource/static/main/css/index.css" type="text/css" rel="stylesheet" />
    <link href="/resource/static/main/css/footer.css" type="text/css" rel="stylesheet" />
    <script src="/resource/static/layui/layui.js"></script>
    <script src="/resource/static/main/js/jquery.min.js"></script>
    <script src="/resource/static/main/js/quietflow.min.js"></script>

    <title><{$title}>-LinkPHP开源框架</title>
</head>

<body>
<div id="body">
    <!-- 头部  -->
    <{include file="public/header.html"}>
    <!-- 首页中间  -->
    <div class="clear"></div>
    <div id="content">
        <div class="class-content">
            <div class="class-content-logo">
                <img src="/resource/static/main/img/icon.png" style="width:220px;height:220px" />
            </div>
            <div class="class-content-item">
                <a href="http://class.linkphp.cn" target="_blank" class="layui-btn layui-btn-big layui-btn-radius">加载类库</a>
                <a href="/index.php/main/wiki/main" class="layui-btn layui-btn-big layui-btn-radius">帮助手册</a>
                <a href="/index.php/main/forum/main" class="layui-btn layui-btn-primary layui-btn-big layui-btn-radius">技术问答社区</a>
                <a href="http://github.com/liugene/linkphp" target="_blank" class="layui-btn layui-btn-big layui-btn-radius layui-btn-warm">GitHub</a>
            </div>
            <div class="class-content-font">
                当前类库大小：15个 | 最新更新于: 2017-03-19
            </div>
        </div>
    </div>

    <div class="clear">
    </div>
    <hr style="margin:0;">
    <!-- 首页中间  -->
    <div id="center">
        <div class="center-box">
            <div class="center-show">
                <div class="right-repeat-img">
                    <img src="//q.qlogo.cn/qqapp/101235792/A645D3B0234D71AE1EB9B2366399817D/100">
                </div>
                <div class="center-talk-right">
                    <div class="right-repeat-title">
                        <a href="javascript:;">响应国家政策，本站评论需实名认证后使用</a>
                    </div>
                    <div class="right-repeat-dec">
                        <p>
                            根据网信办《互联网跟帖评论服务管理规定》，要求网站按照“后台实名、前台自愿”原则，对注册用户进行真实身份信息认证，
                            不得向未认证真实身份信息的用户提供跟帖评论服务。为了充分落实《规定》精神
                            即日起在树洞博客评论需在本页面实名认证后才能进行。 认证流程 打开https://r […]
                        </p>
                    </div>
                    <img src="/resource/static/main/img/talk.png">
                </div>
            </div>
            <div class="center-show">
                <div class="left-repeat-img">
                    <img src="//q.qlogo.cn/qqapp/101235792/A645D3B0234D71AE1EB9B2366399817D/100">
                </div>
                <div class="center-talk-left">
                    <div class="left-repeat-title">
                        <a href="javascript:;">响应国家政策，本站评论需实名认证后使用</a>
                    </div>
                    <div class="left-repeat-dec">
                        <p>
                            根据网信办《互联网跟帖评论服务管理规定》，要求网站按照“后台实名、前台自愿”原则，对注册用户进行真实身份信息认证，
                            不得向未认证真实身份信息的用户提供跟帖评论服务。为了充分落实《规定》精神
                        </p>
                    </div>
                    <img src="/resource/static/main/img/talk-repeat.png">
                </div>
            </div>
            <div class="center-show">
                <div class="right-repeat-img">
                    <img src="//q.qlogo.cn/qqapp/101235792/A645D3B0234D71AE1EB9B2366399817D/100">
                </div>
                <div class="center-talk-right">
                    <div class="right-repeat-title">
                        <a href="javascript:;">响应国家政策，本站评论需实名认证后使用</a>
                    </div>
                    <div class="right-repeat-dec">
                        <p>
                            根据网信办《互联网跟帖评论服务管理规定》，要求网站按照“后台实名、前台自愿”原则，对注册用户进行真实身份信息认证，
                            不得向未认证真实身份信息的用户提供跟帖评论服务。为了充分落实《规定》精神
                            即日起在树洞博客评论需在本页面实名认证后才能进行。 认证流程 打开https://r […]
                        </p>
                    </div>
                    <img src="/resource/static/main/img/talk.png">
                </div>
            </div>
            <div class="center-show">
                <div class="left-repeat-img">
                    <img src="//q.qlogo.cn/qqapp/101235792/A645D3B0234D71AE1EB9B2366399817D/100">
                </div>
                <div class="center-talk-left">
                    <div class="left-repeat-title">
                        <a href="javascript:;">响应国家政策，本站评论需实名认证后使用</a>
                    </div>
                    <div class="left-repeat-dec">
                        <p>
                            根据网信办《互联网跟帖评论服务管理规定》，要求网站按照“后台实名、前台自愿”原则，对注册用户进行真实身份信息认证，
                            不得向未认证真实身份信息的用户提供跟帖评论服务。为了充分落实《规定》精神
                        </p>
                    </div>
                    <img src="/resource/static/main/img/talk-repeat.png">
                </div>
            </div>
            <div class="center-show">
                <div class="right-repeat-img">
                    <img src="//q.qlogo.cn/qqapp/101235792/A645D3B0234D71AE1EB9B2366399817D/100">
                </div>
                <div class="center-talk-right">
                    <div class="right-repeat-title">
                        <a href="javascript:;">响应国家政策，本站评论需实名认证后使用</a>
                    </div>
                    <div class="right-repeat-dec">
                        <p>
                            根据网信办《互联网跟帖评论服务管理规定》，要求网站按照“后台实名、前台自愿”原则，对注册用户进行真实身份信息认证，
                            不得向未认证真实身份信息的用户提供跟帖评论服务。为了充分落实《规定》精神
                            即日起在树洞博客评论需在本页面实名认证后才能进行。 认证流程 打开https://r […]
                        </p>
                    </div>
                    <img src="/resource/static/main/img/talk.png">
                </div>
            </div>
            <div class="center-show">
                <div class="left-repeat-img">
                    <img src="//q.qlogo.cn/qqapp/101235792/A645D3B0234D71AE1EB9B2366399817D/100">
                </div>
                <div class="center-talk-left">
                    <div class="left-repeat-title">
                        <a href="javascript:;">响应国家政策，本站评论需实名认证后使用</a>
                    </div>
                    <div class="left-repeat-dec">
                        <p>
                            根据网信办《互联网跟帖评论服务管理规定》，要求网站按照“后台实名、前台自愿”原则，对注册用户进行真实身份信息认证，
                            不得向未认证真实身份信息的用户提供跟帖评论服务。为了充分落实《规定》精神
                        </p>
                    </div>
                    <img src="/resource/static/main/img/talk-repeat.png">
                </div>
            </div>
        </div>
    </div>
    <!--<div id="center">
     <div class="center-show">
      <div class="center-show-item"><i class="layui-icon" style="font-size:230px; color:#5FB878;">&#xe635;</i></div>
      <div class="center-show-item"><i class="layui-icon" style="font-size:230px; color:#F7B824;">&#xe620;</i></div>
      <div class="center-show-item"><i class="layui-icon" style="font-size:230px; color:#5FB878;">&#xe61e;</i></div>
     </div>
     <div class="center-show">
      <div class="center-show-item center-show-font">
        <p>你可以配置不同的上传方案并绑定至不同的用户组，实现不同用户组的文件以不同方式存储，或者不同用户组对文件有不同的限制。</p>
      </div>
      <div class="center-show-item center-show-font">
        <p>你可以配置不同的上传方案并绑定至不同的用户组，实现不同用户组的文件以不同方式存储，或者不同用户组对文件有不同的限制。</p>
      </div>
      <div class="center-show-item center-show-font">
        <p>你可以配置不同的上传方案并绑定至不同的用户组，实现不同用户组的文件以不同方式存储，或者不同用户组对文件有不同的限制。</p>
      </div>
     </div>
    </div>
    -->

    <!-- 合作展示  -->

    <!--<hr style="margin:0;">
    <div class="library-box">
        <div class="library-content">
            <div class="library-content-child">
            </div>
        </div>
        <div class="library-content">
            <div class="library-content-child">
            </div>
        </div>
        <div class="library-content">
            <div class="library-content-child">
            </div>
        </div>
        <div class="library-content">
            <div class="library-content-child">
            </div>
        </div>
    </div>-->
    <!-- 底部  -->
    <hr style="margin:0;">
    <{include file="public/footer.html"}>
</div>
<script src="/resource/static/main/js/index.js"></script>
<script>
 $("#body").quietflow({
  theme:"bouncingBalls",
  backgroundCol : "#393D49",
  specificColors : ["#2F4056", "#d2d2d2","#333","#5FB878","#e2e2e2","#01AAED",
      "#FF5722","#FFB800","#eeeeee","#90EE90","#7CFC00","#7B68EE","#B03060","#CDCD00"]
 // speed : 100
});
</script>
</body>
</html>
